
package {{manager.packageName}};

import org.eclipse.emf.ecore.EObject;

public interface {{manager.baseClassName}}Interface {
	public EObject original_();
	public {{manager.baseClassName}} container_();

	public Class<?> getImplementedInterface();
}