
package {{class.qualifiedPackageName}};

import java.util.List;

import org.eclipse.emf.ecore.EObject;
import org.eclipse.emf.ecore.EStructuralFeature;

public class {{class.implementationName}} extends {{class.baseClass}} implements {{class.name}} {
	
	public {{class.implementationName}}({{class.managerType}} manager, EObject object) {
		super(manager, object);
	}
	
	{{#class.features}}
	@Override
	public {{{featureType}}} {{getterName}}() {
		EStructuralFeature f = object.eClass().getEStructuralFeature("{{name}}");
		Object result = object.eGet(f);
		{{#isReference?}}
		result = manager.wrap(result);
		{{/isReference?}}
		return ({{{featureType}}}) result;
	}
	
	{{/class.features}}

	public Class<{{class.name}}> getImplementedInterface() { return {{class.name}}.class; }
}