<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="modelfacets.metamodel.registerMetamodel"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="modelfacets.metamodel.registermetamodel.popup.actions.RegisterMetamodel"
               id="modelfacets.metamodel.registerMetamodel.registerAction"
               label="Registrer Ecore Package">
         </action>
      </objectContribution>
   </extension>
</plugin>
